#block {
    background-color: red;
    text-align: center;
}

#block, #unblock, #delete {
    display: flex;
    height: 100%;
    width: 20%;
    align-items: center;
    justify-content: center;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    height: 60%;
    margin-top: 20%;
    margin-bottom: 20%;
}

table, th, td {
    border: 3px black solid;
    border-collapse: collapse;
}